<!-- Validation failure messages -->
<% if @inspiration.errors.any? %>
  <% @inspiration.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Inspiration #<%= @inspiration.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_inspiration/<%= @inspiration.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for seed_track_id -->
      <div class="form-group">
        <label for="seed_track_id" class="control-label">
          Seed track
        </label>

        <input type="text" id="seed_track_id" name="seed_track_id" placeholder="Seed track" class="form-control" value="<%= @inspiration.seed_track_id %>">
      </div>

      <!-- Label and input for inspiration_song_id -->
      <div class="form-group">
        <label for="inspiration_song_id" class="control-label">
          Inspiration song
        </label>

        <input type="text" id="inspiration_song_id" name="inspiration_song_id" placeholder="Inspiration song" class="form-control" value="<%= @inspiration.inspiration_song_id %>">
      </div>

      <!-- Label and input for up_vote_count -->
      <div class="form-group">
        <label for="up_vote_count" class="control-label">
          Up vote count
        </label>

        <input type="text" id="up_vote_count" name="up_vote_count" placeholder="Up vote count" class="form-control" value="<%= @inspiration.up_vote_count %>">
      </div>

      <!-- Label and input for down_vote_count -->
      <div class="form-group">
        <label for="down_vote_count" class="control-label">
          Down vote count
        </label>

        <input type="text" id="down_vote_count" name="down_vote_count" placeholder="Down vote count" class="form-control" value="<%= @inspiration.down_vote_count %>">
      </div>

      <!-- Label and input for qlineup_id -->
      <div class="form-group">
        <label for="qlineup_id" class="control-label">
          Qlineup
        </label>

        <input type="text" id="qlineup_id" name="qlineup_id" placeholder="Qlineup" class="form-control" value="<%= @inspiration.qlineup_id %>">
      </div>

      <!-- Label and input for status -->
      <div class="form-group">
        <label for="status" class="control-label">
          Status
        </label>

        <input type="text" id="status" name="status" placeholder="Status" class="form-control" value="<%= @inspiration.status %>">
      </div>

      <button class="btn btn-warning">
        Update Inspiration
      </button>
      or
      <a href="/inspirations/<%= @inspiration.id %>">Cancel</a>
    </form>
  </div>
</div>
