<div class="page-header">
  <h3>Inspiration #<%= @inspiration.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Seed track</dt>
      <dd><%= @inspiration.seed_track_id %></dd>

      <dt>Inspiration song</dt>
      <dd><%= @inspiration.inspiration_song_id %></dd>

      <dt>Up vote count</dt>
      <dd><%= @inspiration.up_vote_count %></dd>

      <dt>Down vote count</dt>
      <dd><%= @inspiration.down_vote_count %></dd>

      <dt>Qlineup</dt>
      <dd>
        <% if @inspiration.q_lineup.present? %>
          <a href="/q_lineups/<%= @inspiration.qlineup_id %>">
            <%= @inspiration.q_lineup.suggestion_or_inspiration %>
          </a>
        <% end %>
      </dd>

      <dt>Status</dt>
      <dd><%= @inspiration.status %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/inspirations" class="btn btn-primary">
        Back
      </a>
      <a href="/inspirations/<%= @inspiration.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_inspiration/<%= @inspiration.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Inspiration has many q_lineups -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Q_lineups
      </li>

      <% @inspiration.q_lineups.each do |q_lineup| %>
        <li class="list-group-item">
          <a href="/q_lineups/<%= q_lineup.id %>">
            <%= q_lineup.suggestion_or_inspiration %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/q_lineups/<%= q_lineup.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/q_lineups/<%= q_lineup.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_q_lineup/<%= q_lineup.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_q_lineup" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for suggestion_or_inspiration -->
      <div class="form-group">
        <label for="suggestion_or_inspiration" class="control-label">
          Suggestion or inspiration
        </label>

        <input type="text" id="suggestion_or_inspiration" name="suggestion_or_inspiration" placeholder="Suggestion or inspiration" class="form-control" value="">
      </div>

      <!-- Label and input for inspiration_id -->
      <input type="hidden" name="inspiration_id" value="<%= @inspiration.id %>">

      <!-- Label and input for suggestion_id -->
      <div class="form-group">
        <label for="suggestion_id" class="control-label">
          Suggestion
        </label>

        <input type="text" id="suggestion_id" name="suggestion_id" placeholder="Suggestion" class="form-control" value="">
      </div>

      <!-- Label and input for active -->
      <div class="checkbox">
        <label for="active">
          <input type="checkbox" id="active" name="active" value="1" <%= "checked" if @q_lineup.active %>>
          Active
        </label>
      </div>

      <!-- Label and input for lineup_order -->
      <div class="form-group">
        <label for="lineup_order" class="control-label">
          Lineup order
        </label>

        <input type="text" id="lineup_order" name="lineup_order" placeholder="Lineup order" class="form-control" value="">
      </div>

      <!-- Label and input for q_id -->
      <div class="form-group">
        <label for="q_id" class="control-label">
          Q
        </label>

        <%= select_tag(:q_id, options_from_collection_for_select(Queue.all, :id, :created_at), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Q Lineup
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
