<div class="page-header">
  <h3>Inspiration #<%= @inspiration.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Seed track</dt>
      <dd><%= @inspiration.seed_track_id %></dd>

      <dt>Inspiration song</dt>
      <dd><%= @inspiration.inspiration_song_id %></dd>

      <dt>Up vote count</dt>
      <dd><%= @inspiration.up_vote_count %></dd>

      <dt>Down vote count</dt>
      <dd><%= @inspiration.down_vote_count %></dd>

      <dt>Qlineup</dt>
      <dd><%= @inspiration.qlineup_id %></dd>

      <dt>Status</dt>
      <dd><%= @inspiration.status %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/inspirations" class="btn btn-primary">
        Back
      </a>
      <a href="/inspirations/<%= @inspiration.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_inspiration/<%= @inspiration.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Inspiration has many q_lineups -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Q_lineups
      </li>

      <% @inspiration.q_lineups.each do |q_lineup| %>
        <li class="list-group-item">
          <a href="/q_lineups/<%= q_lineup.id %>">
            <%= q_lineup.suggestion_or_inspiration %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/q_lineups/<%= q_lineup.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/q_lineups/<%= q_lineup.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_q_lineup/<%= q_lineup.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
