<!-- Validation failure messages -->
<% if @q_invitation.errors.any? %>
  <% @q_invitation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Q Invitation #<%= @q_invitation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_q_invitation/<%= @q_invitation.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for sender_id -->
      <div class="form-group">
        <label for="sender_id" class="control-label">
          Sender
        </label>

        <%= select_tag(:sender_id, options_from_collection_for_select(QParticipant.all, :id, :user_id, @q_invitation.sender_id), :class => "form-control") %>
      </div>

      <!-- Label and input for recipient_id -->
      <div class="form-group">
        <label for="recipient_id" class="control-label">
          Recipient
        </label>

        <input type="text" id="recipient_id" name="recipient_id" placeholder="Recipient" class="form-control" value="<%= @q_invitation.recipient_id %>">
      </div>

      <!-- Label and input for status -->
      <div class="form-group">
        <label for="status" class="control-label">
          Status
        </label>

        <input type="text" id="status" name="status" placeholder="Status" class="form-control" value="<%= @q_invitation.status %>">
      </div>

      <!-- Label and input for queue_id -->
      <div class="form-group">
        <label for="queue_id" class="control-label">
          Queue
        </label>

        <input type="text" id="queue_id" name="queue_id" placeholder="Queue" class="form-control" value="<%= @q_invitation.queue_id %>">
      </div>

      <button class="btn btn-warning">
        Update Q Invitation
      </button>
      or
      <a href="/q_invitations/<%= @q_invitation.id %>">Cancel</a>
    </form>
  </div>
</div>
