<div class="page-header">
  <h3>Q Invitation #<%= @q_invitation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Sender</dt>
      <dd>
        <% if @q_invitation.sender.present? %>
          <a href="/q_participants/<%= @q_invitation.sender_id %>">
            <%= @q_invitation.sender.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>Recipient</dt>
      <dd>
        <% if @q_invitation.recipient.present? %>
          <a href="/users/<%= @q_invitation.recipient_id %>">
            <%= @q_invitation.recipient.email %>
          </a>
        <% end %>
      </dd>

      <dt>Status</dt>
      <dd><%= @q_invitation.status %></dd>

      <dt>Queue</dt>
      <dd>
        <% if @q_invitation.queue.present? %>
          <a href="/queues/<%= @q_invitation.queue_id %>">
            <%= @q_invitation.queue.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/q_invitations" class="btn btn-primary">
        Back
      </a>
      <a href="/q_invitations/<%= @q_invitation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_q_invitation/<%= @q_invitation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
