<div class="page-header">
  <h1>
    User library tracks
    <a href="/user_library_tracks/new" class="btn btn-lg btn-success">New User library track</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Song</th>
        <th>Song name</th>
        <th>Song artist</th>
        <th>Song attributes</th>
        <th>Number of listens</th>
        <th>Genre</th>
        <th>Last listened to date</th>
        <th>Song release date</th>
        <th>Liked</th>
        <th>Actions</th>
      </tr>

      <% @user_library_tracks.each do |user_library_track| %>
      <tr>
        <td><%= user_library_track.song_id %></td>
        <td><%= user_library_track.song_name %></td>
        <td><%= user_library_track.song_artist %></td>
        <td><%= user_library_track.song_attributes %></td>
        <td><%= user_library_track.number_of_listens %></td>
        <td><%= user_library_track.genre %></td>
        <td><%= user_library_track.last_listened_to_date %></td>
        <td><%= user_library_track.song_release_date %></td>
        <td><%= user_library_track.liked %></td>
        <td>
          <a href="/user_library_tracks/<%= user_library_track.id %>" class="btn btn-primary">Show</a>
          <a href="/user_library_tracks/<%= user_library_track.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_user_library_track/<%= user_library_track.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @user_library_tracks, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
