<div class="page-header">
  <h3>App Invite #<%= @app_invite.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Sender</dt>
      <dd>
        <% if @app_invite.sender.present? %>
          <a href="/users/<%= @app_invite.sender_id %>">
            <%= @app_invite.sender.email %>
          </a>
        <% end %>
      </dd>

      <dt>Recipient</dt>
      <dd><%= @app_invite.recipient_id %></dd>

      <dt>Status</dt>
      <dd><%= @app_invite.status %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/app_invites" class="btn btn-primary">
        Back
      </a>
      <a href="/app_invites/<%= @app_invite.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_app_invite/<%= @app_invite.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
