<div class="page-header">
  <h3>Q Participant #<%= @q_participant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @q_participant.user_id %></dd>

      <dt>Status</dt>
      <dd><%= @q_participant.status %></dd>

      <dt>Host status</dt>
      <dd><%= @q_participant.host_status %></dd>

      <dt>Queue</dt>
      <dd><%= @q_participant.queue_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/q_participants" class="btn btn-primary">
        Back
      </a>
      <a href="/q_participants/<%= @q_participant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_q_participant/<%= @q_participant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Q participant has many q_invitations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Q_invitations
      </li>

      <% @q_participant.q_invitations.each do |q_invitation| %>
        <li class="list-group-item">
          <a href="/q_invitations/<%= q_invitation.id %>">
            <%= q_invitation.sender_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/q_invitations/<%= q_invitation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/q_invitations/<%= q_invitation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_q_invitation/<%= q_invitation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_q_invitation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for sender_id -->
      <div class="form-group">
        <label for="sender_id" class="control-label">
          Sender
        </label>

        <%= select_tag(:sender_id, options_from_collection_for_select(QParticipant.all, :id, :user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for recipient_id -->
      <div class="form-group">
        <label for="recipient_id" class="control-label">
          Recipient
        </label>

        <%= select_tag(:recipient_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for status -->
      <div class="form-group">
        <label for="status" class="control-label">
          Status
        </label>

        <input type="text" id="status" name="status" placeholder="Status" class="form-control" value="">
      </div>

      <!-- Label and input for queue_id -->
      <div class="form-group">
        <label for="queue_id" class="control-label">
          Queue
        </label>

        <%= select_tag(:queue_id, options_from_collection_for_select(Queue.all, :id, :created_at), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Q Invitation
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
