<div class="page-header">
  <h3>Q Participant #<%= @q_participant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @q_participant.user_id %></dd>

      <dt>Status</dt>
      <dd><%= @q_participant.status %></dd>

      <dt>Host status</dt>
      <dd><%= @q_participant.host_status %></dd>

      <dt>Queue</dt>
      <dd><%= @q_participant.queue_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/q_participants" class="btn btn-primary">
        Back
      </a>
      <a href="/q_participants/<%= @q_participant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_q_participant/<%= @q_participant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Q participant has many q_invitations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Q_invitations
      </li>

      <% @q_participant.q_invitations.each do |q_invitation| %>
        <li class="list-group-item">
          <a href="/q_invitations/<%= q_invitation.id %>">
            <%= q_invitation.sender_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/q_invitations/<%= q_invitation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/q_invitations/<%= q_invitation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_q_invitation/<%= q_invitation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
