<div class="page-header">
  <h3>Queue #<%= @queue.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Genres</dt>
      <dd><%= @queue.genres %></dd>

      <dt>Event type</dt>
      <dd><%= @queue.event_type %></dd>

      <dt>Status</dt>
      <dd><%= @queue.status %></dd>

      <dt>Activity type</dt>
      <dd><%= @queue.activity_type %></dd>

      <dt>Name</dt>
      <dd><%= @queue.name %></dd>

      <dt>Public queue</dt>
      <dd><%= @queue.public_queue %></dd>

      <dt>Allow participants to invite</dt>
      <dd><%= @queue.allow_participants_to_invite %></dd>

      <dt>Group or event</dt>
      <dd><%= @queue.group_or_event %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/queues" class="btn btn-primary">
        Back
      </a>
      <a href="/queues/<%= @queue.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_queue/<%= @queue.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Queue has many q_participants -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Q_participants
      </li>

      <% @queue.q_participants.each do |q_participant| %>
        <li class="list-group-item">
          <a href="/q_participants/<%= q_participant.id %>">
            <%= q_participant.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/q_participants/<%= q_participant.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/q_participants/<%= q_participant.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_q_participant/<%= q_participant.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Queue has many q_invitations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Q_invitations
      </li>

      <% @queue.q_invitations.each do |q_invitation| %>
        <li class="list-group-item">
          <a href="/q_invitations/<%= q_invitation.id %>">
            <%= q_invitation.sender_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/q_invitations/<%= q_invitation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/q_invitations/<%= q_invitation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_q_invitation/<%= q_invitation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
