<!-- Validation failure messages -->
<% if @vote.errors.any? %>
  <% @vote.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Vote</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_vote" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @vote.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for up_vote -->
      <div class="checkbox">
        <label for="up_vote">
          <input type="checkbox" id="up_vote" name="up_vote" value="1" <%= "checked" if @vote.up_vote %>>
          Up vote
        </label>
      </div>

      <!-- Label and input for down_vote -->
      <div class="checkbox">
        <label for="down_vote">
          <input type="checkbox" id="down_vote" name="down_vote" value="1" <%= "checked" if @vote.down_vote %>>
          Down vote
        </label>
      </div>

      <!-- Label and input for suggestion_id -->
      <div class="form-group">
        <label for="suggestion_id" class="control-label">
          Suggestion
        </label>

        <%= select_tag(:suggestion_id, options_from_collection_for_select(Suggestion.all, :id, :user_id, @vote.suggestion_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Vote
      </button>
      or
      <a href="/votes">Cancel</a>
    </form>
  </div>
</div>
