<div class="page-header">
  <h3>Suggestion #<%= @suggestion.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @suggestion.user.present? %>
          <a href="/users/<%= @suggestion.user_id %>">
            <%= @suggestion.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Song</dt>
      <dd><%= @suggestion.song_id %></dd>

      <dt>Up vote count</dt>
      <dd><%= @suggestion.up_vote_count %></dd>

      <dt>Down vote count</dt>
      <dd><%= @suggestion.down_vote_count %></dd>

      <dt>Status</dt>
      <dd><%= @suggestion.status %></dd>

      <dt>Qlineup</dt>
      <dd>
        <% if @suggestion.qlineup.present? %>
          <a href="/q_lineups/<%= @suggestion.qlineup_id %>">
            <%= @suggestion.qlineup.suggestion_or_inspiration %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/suggestions" class="btn btn-primary">
        Back
      </a>
      <a href="/suggestions/<%= @suggestion.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_suggestion/<%= @suggestion.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Suggestion has many votes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Votes
      </li>

      <% @suggestion.votes.each do |vote| %>
        <li class="list-group-item">
          <a href="/votes/<%= vote.id %>">
            <%= vote.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/votes/<%= vote.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/votes/<%= vote.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_vote/<%= vote.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_vote" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for up_vote -->
      <div class="checkbox">
        <label for="up_vote">
          <input type="checkbox" id="up_vote" name="up_vote" value="1" <%= "checked" if @vote.up_vote %>>
          Up vote
        </label>
      </div>

      <!-- Label and input for down_vote -->
      <div class="checkbox">
        <label for="down_vote">
          <input type="checkbox" id="down_vote" name="down_vote" value="1" <%= "checked" if @vote.down_vote %>>
          Down vote
        </label>
      </div>

      <!-- Label and input for suggestion_id -->
      <input type="hidden" name="suggestion_id" value="<%= @suggestion.id %>">

      <button class="btn btn-block btn-success">
        Create Vote
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
